//colors

$color-primary-1: #0c2461;
$color-primary-2: #78e08f;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font-sizes
$default-font-size: 1.6rem;